.button {
  appearance: none;

  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  min-width: 4rem;
  font-size: 1.5rem;
}

.primary {
  background-color: var(--gray);
}

.secondary {
  border: 2px dashed currentColor;
}

.success {
  background-color: var(--light-green);
}

.warning {
  background-color: rgb(255, 164, 164);
}

.linkButton {
  text-decoration: none;
  &:visited {
    color: currentColor;
  }
}
