.button {
  appearance: none;

  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  min-width: 4rem;
  font-size: 1.5rem;
}

.primary {
  background-color: var(--light-gray);
  outline: 2px solid rgb(206, 206, 206);

  &:hover {
    background-color: var(--gray);
  }
  &:active {
    background-color: var(--dark-gray);
  }
}

.secondary {
  background-color: white;
  border: 2px dashed currentColor;

  &:hover {
    background-color: var(--light-gray);
  }
  &:active {
    background-color: var(--gray);
  }
}

.success {
  background-color: var(--light-green);

  &:hover {
    background-color: var(--green);
  }
  &:active {
    background-color: var(--dark-green);
  }
}

.warning {
  background-color: var(--light-red);

  &:hover {
    background-color: var(--red);
  }
  &:active {
    background-color: var(--dark-red);
  }
}

.linkButton {
  text-decoration: none;
  &:visited {
    color: currentColor;
  }
}
