.homepage {
  padding: 1rem 0.5rem;
  padding-bottom: 0;
}

.quickAdd {
  padding: 3rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.tasks {
  max-height: 20vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.entriesContainer {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
