html {
  --gray: #d9d9d9;
  --light-gray: #efefef;
  --light-green: #c8e99f;
}

body {
  font-family: "JetBrainsMono NFM", "Roboto Mono", "Ubuntu Mono", "Inconsolata",
    "Monaco", "Consolas", "Courier New", "Courier", monospace;
  font-size: 1rem;
  color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
