.tasksPage {
  padding: 1rem 0.5rem;
  padding-bottom: 0;
}

.tasksContainer {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.addButton {
  font-size: 2.5rem;
  width: 100%;
  position: sticky;
  bottom: 1rem;
  outline: 1px solid currentColor;
}
